<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbconnect"
     providerName="System.Data.SqlClient"
     connectionString="Server=tcp:testdbms157.database.windows.net,1433;Initial Catalog=TestInfrastructureDBMS;Persist Security Info=False;User ID=admindbms;Password=6iK=Bb!9#dyv2.P;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>